.root-container {
  --offset-x: 0px;
  --offset-y: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + var(--offset-x)), calc(-50% + var(--offset-y)));
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
}


