.node-container {
  --node-container-width: auto;
  width: var(--node-container-width);
  font-size: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  // padding: 4px;
  // border: 1px solid #000;
  .node-border {
    margin: 4px;
    // 设定边框样式
    &:hover {
      border: 2px solid #4f98cb;
      border-radius: 8px;
      margin: 2px;
    }
    &.focus {
      border: 3px solid #4f98cb;
      margin: 1px;
      border-radius: 8px;
    }
    .node-box {
      // 文本相关设定
      color: white;
      vertical-align: middle;
      font-size: 24px;
      text-align: center;
      line-height: 2;
      // node框相关设定
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: rgb(0, 2, 39);
      padding: 0.2em 0.7em;
      min-height: 2em;
      .node-editor {
        // 编辑器的默认样式
        white-space: pre-wrap;
        outline: none;
        cursor: default;
        :focus{
          cursor: text;
        }
        
      }
    }
  }
}
