.canvas{
    --primary-color: #acba85;
    --mouse-style: default;
    position: relative;
    width:100vw;
    height:100vh;
    background-color: var(--primary-color);
    cursor: var(--mouse-style);
}