.canvas{
    --primary-color: #34db5e;
    --mouse-style: default;
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    background-color: var(--primary-color);
    cursor: var(--mouse-style);
}